{% extends 'base.html.twig' %}

{% block title %} 
    {{ coursename }}
 {% endblock %}


{% block stylesheets %}
  

    <style>

        body {
            background: #EEEEEE;
        }
        .view a {
            color: royalblue;
            text-decoration: none;
        }
        table {
            font-size: 15px;
        }
        *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background: #fff;
  }
  /********** HEADER **********/
  .wrapper .header{
    z-index: 1;
    background: #A41034;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  /********** SIDEBAR **********/
  .wrapper .sidebar{
    z-index: 1;
    background: #FFF;
    box-shadow: 10px 10px 15px grey;
    position: fixed;
    top: 70px;
    width: 180px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 90px;
    height: 90px;
  }
  .wrapper .sidebar .sidebar-menu .profile p{
    color: grey;
    font-weight: 650;
  }
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
    font-size: 14px;
  }
  .wrapper .sidebar .sidebar-menu .item a{
    text-decoration: none;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #000;
    position: relative;
    padding: 10px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  .wrapper .sidebar .sidebar-menu .item button {
      border: none;
      background: none;
  }
  .wrapper .sidebar .sidebar-menu .item button:hover {
      color: #FFF;
  }
  /********** SIDEBAR BUTTONS **********/
  .wrapper .sidebar .sidebar-menu .item .menu-btn span{
      padding: 20px;
      background: #A41034;
      border-radius: 2em;
      color: #fff;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn span:hover{
      background: #C2133D;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
      background: #C2133D;
      color: #FFF;
      text-decoration: none;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
      margin-right: 20px;
  }
  /********** LOGOUT MODAL **********/
  .modal .modal-dialog .modal-content .modal-footer button {
      font-size: 14px;
  }
  .modal .modal-dialog .modal-content .modal-footer button a {
      text-decoration: none;
      color: #FFF;
  }
  
  
  
  /********** MAIN CONTAINER **********/
  .wrapper .content{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 220px;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
  }
    </style>
{% endblock %}

{% block body %}
<main>

   
    <div class="main-content">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
          
        <!--sidebar end-->
        <!--main container start-->
        <div class="main-content-wrapper content">
        <h1>{{ coursename }}</h1>
         
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Task    
        </button>
        
         

         <h5>Active Task</h5>

         
      <table id="datatable1" class="display">
                    <thead>
                        <tr>
                    <th>Task Title</th>
                    <th>Task Type</th>
                    <th>File</th>
                    <th>Score</th>
                    <th>Duration:</th>
                    <th>Action</th>
                    
                </tr>
                    </thead>
                    <tbody>
                  
                        
                    </tbody>
                </table>
         <h5>Past Task</h5>

                 <table id="datatable2" class="display">
                    <thead>
                        <tr>
                    <th>Task Title</th>
                    <th>Task Type</th>
                    <th>File</th>
                    <th>Score</th>
                    <th>Duration:</th>
                    <th>Action</th>
                    
                </tr>
                    </thead>
                    <tbody>
                  
                        
                    </tbody>
                </table>

      

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container" id="mymodal">
              <div class="row">
                  <label class="col"> Task Type</label>
                   <select  class=" col"id="tasktype">
                    <option>Activity</option>
                    <option>Assignment</option>
                  </select>
                </div>
                <div class="row">
                  <label class="col"> Allow late submission</label>
                  <input class="col" type="checkbox" id="allowlate"/>
                  
                </div>
                <div
                  class="row"
                >
                <label class="col"> Allow file submission</label>
                  <input class="col" type="checkbox" id="allowfile"/>
                </div>
                <div
                  class="row"
                >
                
                <div class="row">
                <label class="col"> Max attempts</label>
                  <input class="col" type="number" id="maxattempt"/>
                </div>
                <div class="row">
                  <label class="col"> Task Title</label>
                  <input class="col" type="text" id="activityname"/>
                </div>
                <div class="row">
                  <label class="col"> Description</label>
                  <input class="col" type="text" id="description"/>
                </div>

                <div class="row">
                  <label class="col">Duration</label>
                  <input id="deadline" class="col" type='datetime-local' name="activity_deadline"/>
                </div>

                <div class="row">
                <label class="col"> Task type</label>
                  
                  <select  class=" col"id="selectdata">
                    <option>Essay</option>
                    <option>Quiz</option>
                    
                  </select>
                </div>
                <div  class="row">
                <input class="col" type="file" id="fileinput" multiple/>
                  <button class="col" id="addquestion" hidden>Add Question</button>
                  <label class="col" id="maxScore" hidden>Score:</label>
                  <input class="col" id="scoreInput" placeholder="Enter Score"/>
                </div>

                
                  


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="actbutton" onclick="addActivity({{myid}},'{{coursename}}','{{programclass}}')">Add Activity</button>
            </div>
               
          </div>
        </div>
      </div>




        </div>
  

        <!--main container end-->
    </div>
    <!--wrapper end-->

    
    </div>

    
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script>
    var activeact = [];
    var pastactivities = [];
    {% for a in allActivities %}
      {% if a.activitydeadline > date() %}
      var temp2 = []
      {% for b in a.file %}
        temp2.push("{{b}}")              
      {% endfor %}
        activeact.push({
 
                  tasktype:"{{a.tasktype}}",
                
                 
                  tasktitle:"{{a.activityname}}",
                
                 
                  file:temp2,
                
                 
                  score:{{a.maxscore}},
                
                  deadline:"{{a.activitydeadline|date('d-m-Y h:m:s')}}",
                
                  action:{{a.id}}
                
        })
      {% else %}
      var temp1 = []
      {% for b in a.file %}
        temp1.push("{{b}}")              
      {% endfor %}
       pastactivities.push({
 
                  tasktype:"{{a.tasktype}}",
                
                 
                  tasktitle:"{{a.activityname}}",
                
                 
                  file:temp1,
                
                 
                  score:{{a.maxscore}},
                
                  deadline:"{{a.activitydeadline|date('d-m-Y h:m:s')}}",
                
                  action:{{a.id}}
                
        })

      {% endif %}
    {% endfor %}

    
     $('#datatable1').DataTable({
            ordering: true,
            pageLength: 20,
            data:activeact,
            columns : [
                 { title: "Activity Name", class: "center",data: "tasktitle", render: function(data, type, full, meta) {
                        
                            return `<a href=/subject/activities/${full.action}>`+data+'</a>'
                        
     
  }
  },
                 {
                  data:"tasktype"
                },
                              { title: "File", class: "center",data: "file", render: function(data, type, full, meta) {
                              let temp = []
                              
                              data.forEach(a=>{
                                temp.push(`<label
                                     
                                     onclick="getFile('${a}','activities','{{myid}}')"
                                     >${a}</label>`)
                              });
                              
                              
                              
                            return temp;
                        
     
  }
  },
                 {
                  data:"score"
                },
                 {
                  data:"deadline"
                },
                    { title: "Action", class: "center",data: "action", render: function(data, type, full, meta) {
                        
                            return `<button onclick="clickRemove(${data})">REMOVE</button>`
                        
     
  }
  }

            ],
            dom: 'B<"clear">lfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ]
        });
    $('#datatable2').DataTable({
            ordering: true,
            pageLength: 20,
            data:pastactivities,
            columns : [
                  { title: "Activity Name", class: "center",data: "tasktitle", render: function(data, type, full, meta) {
                       
                            return `<a href=/subject/activities/${full.action}>`+data+'</a>'
                        
     
  }
  },
                 {
                  data:"tasktype"
                },
                 {
                  data:"file"
                },
                 {
                  data:"score"
                },
                 {
                  data:"deadline"
                },
                { title: "Action", class: "center",data: "action", render: function(data, type, full, meta) {
                        
                            return `<button onclick="clickRemove(${data})">REMOVE</button>`
                        
     
  }
  }
            ],
            dom: 'B<"clear">lfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ]
        });
    </script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/script.js"></script>
    <script src={{asset('assets/activities.js')}}></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/getFile.js"></script>
{% endblock %}

</main>
{% endblock %}
