{% extends 'base.html.twig' %}

{% block title %} 
    {{ coursename }}
 {% endblock %}


{% block stylesheets %}
    <link rel="styleheet" href="assets/css/style.css" />

    <style>
  .modal-body{
    }
    </style>
{% endblock %}

{% block body %}
<main>

   
    <div>
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
          
        <!--sidebar end-->
        <!--main container start-->
        <div class="main-content-wrapper content view-module">
        <h1>{{ coursename }}</h1>
         
      
        
         
        <ul class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="{{"activities" in app.request.uri ? "nav-link active" : "nav-link" }}" href="/subjects/activities/{{myid}}?course={{coursename}}&programclass={{programclass}}">Activities</a>
                      </li>
                      <li class="nav-item">
                        <a class="{{"module" in app.request.uri ? "nav-link active" : "nav-link" }}" href="/subjects/modules/{{myid}}?course={{coursename}}&programclass={{programclass}}">Modules</a>
                      </li>
                    
    
                  </ul>
        
         {% if "activities" in app.request.uri %}
           <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Task    
        </button>
      <table id="datatable1" class="display">
                    <thead>
                        <tr>
                    <th>Task Title</th>
                    <th>Task Type</th>
                    <th>File</th>
                    <th>Score</th>
                    <th>Duration:</th>
                    <th>Action</th>
                    
                </tr>
                    </thead>
                    <tbody>
                  
                        
                    </tbody>
                </table>
         {% else %}
                <h5>Modules</h5>
              <label id="error"></label>
              <div class="module-upload-wrapper">
               <div class="module-upload">
              <input type="file" id="formFileMultiple" data-is-authenticated="       
              {{myid}}" multiple class="btn btn-success" />
              <span>Select file</span>
              </div>
              <button type="button" class="btn btn-success"  onclick="uploadModules()">
              UPLOAD
              </button>
              </div>
             
             <ul class="file-list-ul">
          {% for module in modules %}
             <li class="file-list">
             <p>File
               <span onclick="getFile('{{module}}','modules',{{myid}})" > {{module}}</span></p>
                            
             
                  <div class="remove-file"><i class='bx bx-x' onclick="removeModule('{{module}}',{{myid}})"></i></div>
              </li>
          {% endfor %}
               </ul> 
        {% endif %}

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container modal-create-activity" id="mymodal">

              <div id="errorACT"></div>
              <div class="row">
                  <label class="col"> Task Type</label>
                   <select  class=" col"id="tasktype">
                    <option>Activity</option>
                    <option>Assignment</option>
                  </select>
                </div>
                <div class="row">
                  <label class="col"> Allow late submission</label>
                  <input class="col" type="checkbox" id="allowlate"/>
                  
                </div>
                <div
                  class="row"
                >
                <label class="col"> Allow file submission</label>
                  <input class="col" type="checkbox" id="allowfile"/>
                </div>
               
                <div class="row">
                <label class="col"> Max attempts</label>
                  <input class="col" type="number" id="maxattempt"/>
                </div>
                <div class="row">
                  <label class="col"> Task Title</label>
                  <input class="col" type="text" id="activityname"/>
                </div>
                <div class="row">
                  <label class="col"> Description</label>
                  <input class="col" type="text" id="description"/>
                </div>

                <div class="row">
                  <label class="col">Duration</label>
                  <input id="deadline" class="col" type='datetime-local' name="activity_deadline"/>
                </div>

                <div class="row">
                <label class="col"> Task type</label>
                  
                  <select  class=" col"id="selectdata">
                    <option>Essay</option>
                    <option>Quiz</option>
                    
                  </select>
                </div>
                <div  class="row">
                <input class="col" type="file" id="fileinput" multiple/>
                  <button class="col" id="addquestion" hidden>Add Question</button>
                  <label class="col" id="maxScore" hidden>Score:</label>
                  <input class="col" id="scoreInput" placeholder="Enter Score"/>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="actbutton" onclick="addActivity({{myid}},'{{coursename}}','{{programclass}}')">Add Activity</button>
            </div>
               
          </div>
        </div>
      </div>




        </div>
  

        <!--main container end-->
    </div>
    <!--wrapper end-->

    
    

    
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script>
    var activeact = [];
    var pastactivities = [];
    {% for a in allActivities %}
      
      var temp2 = []
      {% for b in a.file %}
        temp2.push("{{b}}")              
      {% endfor %}
        activeact.push({
 
                  tasktype:"{{a.tasktype}}",
                
                 
                  tasktitle:"{{a.activityname}}",
                
                 
                  file:temp2,
                
                 
                  score:{{a.maxscore}},
                
                  deadline:"{{a.activitydeadline|date('d-m-Y h:m:s')}}",
                
                  action:{{a.id}}
                
        })
    
    {% endfor %}

    
     $('#datatable1').DataTable({
            ordering: true,
            pageLength: 20,
            data:activeact,
            columns : [
                 { title: "Activity Name", class: "center",data: "tasktitle", render: function(data, type, full, meta) {
                        
                            return `<a href=/subject/activities/${full.action}>`+data+'</a>'
                        
     
  }
  },
                 {
                  data:"tasktype"
                },
                              { title: "File", class: "center",data: "file", render: function(data, type, full, meta) {
                              let temp = []
                              
                              data.forEach(a=>{
                                temp.push(`<label
                                     
                                     onclick="getFile('${a}','activities','{{myid}}')"
                                     >${a}</label>`)
                              });
                              
                              
                              
                            return temp;
                        
     
  }
  },
                 {
                  data:"score"
                },
                 {
                  data:"deadline"
                },
                    { title: "Action", class: "center ",data: "action", render: function(data, type, full, meta) {
                        
                            return `<button class="btn-def table" onclick="clickRemove(${data})">REMOVE</button>`
                        
     
  }
  }

            ],
            dom: 'B<"clear">lfrtip',
            buttons: [
             'pdf', 'csv', 'print'
            ]
        });
    
    </script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/script.js"></script>
    <script src={{asset('assets/activities.js')}}></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/getFile.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/uploadmodules.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/removeModule.js"></script>
{% endblock %}

</main>
{% endblock %}
