{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ app.request.schemeAndHttpHost }}/assets/css/style.css"/>
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost }}assets/css/style-media-queries.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
        <link href="/assets/css/calendar-style.css" rel="stylesheet" />
            <link href="/assets/css/style.css" rel="stylesheet" />
    <main class="hasCalendar">
         <div class=" header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
        <div
            class="main-content"
        >
            <h3>{{classroom.course}}</h3>
            <div
                class="main-content-wrapper"
            >
                <ul class="nav nav-tabs" style="margin:0 0 48px 0" >
                    <li class="nav-item">
                        <a class="{{"activities" in app.request.uri ? "nav-link active" : "nav-link" }}" href="{{path('showClassroom',{'id':id})}}">Activity</a>
                    </li>
                    <li class="nav-item">
                       <a class="{{"module" in app.request.uri ? "nav-link active" : "nav-link" }}" href="{{path('showClassroomModule',{'id':id})}}">Module</a>
                    </li>
                   
  
                </ul>


                {% if "activities" in app.request.uri %}
                 <table id="datatable" class="display" >
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Activity Name</th>
                            <th>Description</th>
                            <th>Score</th>
                            <th>Activity Deadline</th>
                            
                            <th>Attempts</th>
                        </tr>
                    </thead>
                </table>
                {% else %}
                  <div class="activity-container-grid">

                    <div class="activity-content">
                        <div class="module-container">
                            <a href="#" class="module">
                                <img src="/assets/module-image.jpg" alt="module-image">
                                <div class="module-content">
                                    <h5>Module Title</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum asperiores
                                        voluptatem consectetur magnam accusamus quas nam placeat praesentium, nesciunt
                                        qui,
                                        ipsa sapiente dignissimos, inventore illo non modi vel perferendis sequi?</p>
                                    <button class="btn btn-primary">Download</button>
                                </div>
                            </a>


                            <a href="#" class="module">
                                <img src="/assets/module-image.jpg" alt="module-image">
                                <div class="module-content">
                                    <h5>Module Title</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum asperiores
                                        voluptatem consectetur magnam accusamus quas nam placeat praesentium, nesciunt
                                        qui,
                                        ipsa sapiente dignissimos, inventore illo non modi vel perferendis sequi?</p>
                                    <button class="btn btn-primary">Download</button>
                                </div>
                            </a>


                            <a href="#" class="module">
                                <img src="/assets/module-image.jpg" alt="module-image">
                                <div class="module-content">
                                    <h5>Module Title</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum asperiores
                                        voluptatem consectetur magnam accusamus quas nam placeat praesentium, nesciunt
                                        qui,
                                        ipsa sapiente dignissimos, inventore illo non modi vel perferendis sequi?</p>
                                    <button class="btn btn-primary">Download</button>
                                </div>
                            </a>


                            <a href="#" class="module">
                                <img src="/assets/module-image.jpg" alt="module-image">
                                <div class="module-content">
                                    <h5>Module Title</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum asperiores
                                        voluptatem consectetur magnam accusamus quas nam placeat praesentium, nesciunt
                                        qui,
                                        ipsa sapiente dignissimos, inventore illo non modi vel perferendis sequi?</p>
                                    <button class="btn btn-primary">Download</button>
                                </div>
                            </a>


                            <a href="#" class="module">
                                <img src="/assets/module-image.jpg" alt="module-image">
                                <div class="module-content">
                                    <h5>Module Title</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum asperiores
                                        voluptatem consectetur magnam accusamus quas nam placeat praesentium, nesciunt
                                        qui,
                                        ipsa sapiente dignissimos, inventore illo non modi vel perferendis sequi?</p>
                                    <button class="btn btn-primary">Download</button>
                                </div>
                            </a>


                        </div>
                    </div>
                    <div class="activity-info">
                        <div id="calendar-container"></div>
                    </div>
                    <div class="activity-submission module-todo">
                        <h5>TODO</h5>
                        <ul>
                            <li><a href="#"> <i class='bx bxs-notepad bx-tada'
                                        style='color:#00b686'></i>&nbsp;&nbsp;&nbsp;7
                                    Assignments</a></li>

                        </ul>
                    </div>


                </div>
                {# {% for a in load.modules %}
                    
                    <ul>
                        <li>File <span
                        onclick="getFile('{{a}}','modules','{{load.id}}')"
                        >{{a}}</span>
                            
                        </li>
                    </ul>
                {% endfor %} #}
                    
                {% endif %}
                
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
      <script>
        let c = []
        {% if all is not empty and "activities" in app.request.uri  %}
        
       {% for b in all %}
            
            c.push({
                id:"{{b.id}}",
                activitytype:"{{b.activitytype}}",
                activityname:"{{b.activityname}}",
                description:"{{b.description}}",
                score:"{{b.maxscore}}",
                activitydeadline:"{{b.activitydeadline|date('d-m-Y h:m:s')}}",
                
                attempts:{{b.maxattempt}},
            });   
        {% endfor %}
     
        {% endif %}
           
        $('#datatable').DataTable({
            ordering: true,
            pageLength: 20,
            data:c,
            columns : [
                { data: 'activitytype' },
                       { title: "Activity Name", class: "center",data: "activityname", render: function(data, type, full, meta) {
                        
                            return '<a href=activityID/'+full.id+'>'+data+'</a>'
                        
     
  }
  },
                { data: 'description' },
                { data: 'score' },
                { data: 'activitydeadline' },
                
                { data: 'attempts' },
                
            ],
            dom: 'B<"clear">lfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ]
        });
        
    </script>
     <script src="/assets/js/calendar.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/getFile.js"></script>
    </main>

{% endblock %}