{% extends 'base.html.twig' %}


{% block body %}

<main>
<div class=" header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
    <div class="main-content">
            <h3>Grades</h3>
            <div class="main-content-wrapper">   
                 <h4>1st year 1st Term</h4>
                <table id="datatable" class="display">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Interim1</th>
                            <th>Midterm</th>
                            <th>Interim2</th>
                            <th>Final</th>
                            <th>Grade</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


 

        
        


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <script>
        
        
        let c = []
        {% for b in grades %}
            let tempObj = {};
            tempObj.course = "{{b.course}}";
            tempObj.interim1 = "{{b.interim1}}";
            tempObj.midterm = "{{b.midterm}}";
            tempObj.interim2 = "{{b.interim2}}";
            tempObj.final = "{{b.final}}";
            tempObj.grade = "{{b.grade}}";
            tempObj.remarks = "{{b.remarks}}";
            c.push(tempObj);   
        {% endfor %}
        
        $('#datatable').DataTable({
            ordering: true,
            pageLength: 20,
            data:c,
            columns : [
                 { data: 'course' },
                { data: 'interim1' },
                { data: 'midterm' },
                { data: 'interim2' },
                { data: 'final' },
                { data: 'grade' },
                { data: 'remarks' }
            ],
            dom: 'B<"clear">lfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ]
        });
    </script>
    <script src="assets/js/script.js"></script>
</div>
    
{% endblock %}