{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
<div class="main-content">
<h3>{{activity.tasktype}}</h3>
            
            <div class="main-content-wrapper">
                <div class="activity-container-grid">

                    <div class="activity-content">

                        <h2 class="activity-title">{{activity.activityname}}</h2>
                        
                       {% if activity.activitytype == "Essay" %}
                            <div class="activity-upload">
                                <p class="activity-description">
                                    {{activity.description}}
                                </p>
                                    <h3>Attached Files</h3>
                                    {% for b in activity.file %}
                                    

                                     <li>File <label
                                     
                                     onclick="getFile('{{b}}','activities','{{activity.facultyloadid}}')"
                                     >{{b}}</label>
                                        
                                    </li>
                                        
                                    {% endfor %}
                                {% if activity.allowfileupload %}
                                    <div class="mb-3 form-upload" >
                                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                                    </div>
                                {% endif %}
                               

                            </div>

                        {% elseif activity.activitytype == "Quiz" %}

                        
                        <div class="quiz-wrapper">
                            <div id="timer"></div>
                            <div class="quiz">
                                {% set curIndex = 0 %}
                                {% for a in quizquestions %}
                                    {% if a.activitytype == "Identification" %}
                                        <h6 class="quiz-title">{{a.question}}</h6>
                                        <textarea class="form-control answers" aria-label="{{a.question}}"  ></textarea>
                                    {% elseif a.activitytype == "Multiple" %}
                                        
                                        <h6 class="quiz-title">{{a.question}}</h6>

                                        {% set question = [a.firstchoice, a.secondchoice, a.thirdchoice, a.answer ]%}
                                        
                                        {% set randomChoice = [] %}
                                        {% set curIndex = loop.index %}
                                        {% set currentQuestion = a.question %}
                                        
                                        
                                        
                                        {% for i in 1..question | length %}
                                        {% set randomChoice = randomChoice | merge([random(question | filter(value => value not in randomChoice))]) %}
                                        {% endfor %}

                                         {% for c in randomChoice %}

                                        <div class="form-check">
                                            <input class="form-check-input answers" type="radio" name="choice{{curIndex}}" value="{{c}}" aria-label="{{currentQuestion}}">
                                            <label class="form-check-label" for="choice">
                                                {{c}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                         

                                         
                                    
                                    {% else %}
                                        <h6 class="quiz-title">{{a.question}}</h6>
                                        <div class="quiz">
                                            
                                            <div class="quiz-textbox-choices">
                                                <!-- Textboxes -->

                                                <textarea class="form-control answers" aria-label="{{a.question}}"  ></textarea>
                                            </div>
                                        </div>
                                        
                                    {% endif %}
                                    {% set curIndex = curIndex + 1  %}
                                {% endfor %}
                               
                    
                            </div>


                            



                            


                            
                        </div>
                        {%else%}
                        <div id="examarea" hidden>
                            <label id="demo"></label>
                            <div  class="container-fluid" id="quescont">
                            
                                
                            
                                
                                
                                
                                
                                
                            </div>


                            <button onclick="prev()">{{"<"}}</button>
                            <button onclick="next()">{{">"}}</button>
                            
                        </div>
                        
                       {% endif %}
    {% if activity.activitytype=="Exam" %}
        <button class="btn btn-primary btn-submit-quiz" onclick="startExam()"id="startbutton" >Start</button>
        <button id="subbtn" class="btn btn-primary btn-submit-quiz" onclick="submitAnswer({{quizquestions|json_encode}},{{activity.id}},'{{userID}}','{{activity.ProgramClass}}','{{activity.Course}}','{{activity.activitytype}}')" hidden>Submit</button>
    {%else%}
    <button class="btn btn-primary btn-submit-quiz" onclick="submitAnswer({{quizquestions|json_encode}},{{activity.id}},'{{userID}}','{{activity.ProgramClass}}','{{activity.Course}}','{{activity.activitytype}}')">Submit</button>
    {% endif %}                
                    </div>
                    <div class="activity-info">
                        <h5>{{activity.tasktype}}</h5>
                        <ul>
                            <li><i class='bx bx-paperclip'></i>Type: <span>{{activity.activitytype}}</span></li>
                            <li><i class='bx bxs-note'></i>Max Score: <span>{{activity.maxscore}}</span></li>
                            <li><i class='bx bxs-time'></i>Due: <span>{{activity.activitydeadline|date('d-m-Y h:m:s')}}</span></li>
                            <li><i class='bx bxs-time'></i>Status: <span>{{activity.activitydeadline > date() ? "Active":"Inactive"}}</span></li>
                        </ul>
                    </div>
                    <div class="activity-submission">
                        <h5>Submission</h5>
                        <ul>
                            
                            <li>Submitted: <span>{{allSubmission is not empty ? "2020-20-0":""}}</span></li>
                            <li>Submission: <span></span></li>
                            <li>Max attemps: <span>{{activity.maxattempt}}</span></li>
                            </li>
                        </ul>
                    </div>
                 

                </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/script.js"></script>
    
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/getFile.js"></script>

    <script>
    {% if activity.activitytype == "Exam" %}
    
    var temp = [];
        {% for b in quizquestions %}
            temp.push({
                question:"{{b.question}}",
                answer:"{{b.activitytype=="Essay"? "":b.answer}}",
                type:"{{b.activitytype}}",
                points:{{b.score}},
                choices:["{{b.activitytype=="Multiple"?b.firstchoice:""}}","{{b.activitytype=="Multiple"?b.secondchoice:""}}","{{b.activitytype=="Multiple"?b.thirdchoice:""}}","{{b.activitytype=="Multiple"?b.answer:""}}"]
            })
        {% endfor %}
    
    var currentIndex = 0;
    function generateElement(activity){
        switch(activity.type){
            case "Essay":
                var essayQues = document.createElement('h6');
                essayQues.classList.add('quiz-title');
                essayQues.textContent = activity.question;
                var essay = document.createElement('textarea');
                essay.setAttribute("id", "answer");
                if(activity.currentAnswer!=null&&activity.currentAnswer!=undefined){
                    essay.value = activity.currentAnswer;
                }
                essay.classList.add('form-control');
                essay.addEventListener('change',(data)=>{
                    activity.currentAnswer = data.target.value;

                });
                activity.isCorrect = false;
                essay.classList.add('answers');
                $('#quescont').append(essayQues);
                $('#quescont').append(essay);
                break;
            case "Identification":
                var lab = document.createElement('h6');
                lab.classList.add('quiz-title');
                lab.textContent = activity.question;
                var ta = document.createElement('textarea');
                ta.setAttribute("id", "answer");
                if(activity.currentAnswer!=null&&activity.currentAnswer!=undefined){
                    ta.value = activity.currentAnswer;
                }else{
                    activity.isCorrect = false;
                }
                ta.classList.add('form-control');
                ta.addEventListener('change',(data)=>{
                    activity.currentAnswer = data.target.value;
                    if(data.target.value.toLowerCase()==activity.answer.toLowerCase()){
                        activity.isCorrect = true;
                    }else{
                        activity.isCorrect = false;
                    }
                });
                ta.classList.add('answers');
                $('#quescont').append(lab);
                $('#quescont').append(ta);
                
                break;
            case "Multiple":
                var mutipleQues = document.createElement('h6');
                mutipleQues.classList.add('quiz-title');
                mutipleQues.textContent = activity.question;
                $('#quescont').append(mutipleQues);
                shuffle(activity.choices);
                
                activity.choices.forEach((data)=>{
                    
                    var choices = document.createElement('input');
                    var label = document.createElement('label');
                    choices.setAttribute("name", "choices");
                    label.textContent = data;
                    choices.classList.add('form-check-input');
                    choices.classList.add('answers');
                    if(activity.currentAnswer!=null&&activity.currentAnswer!=undefined&&data==activity.currentAnswer){
                        choices.checked = true;
                    }else{
                        activity.isCorrect = false;
                    }
                    choices.value = data;
                    choices.type = "radio";
                    $('#quescont').append(choices);
                    $('#quescont').append(label);
                })
                
                $(".answers").on("click", function(){
                    if($(this).prop('checked')){
                        activity.currentAnswer = $(this).val();
                        if(activity.currentAnswer.toLowerCase()==activity.answer.toLowerCase()){
                            activity.isCorrect = true;
                        }else{
                            activity.isCorrect = false;
                        }
                            
                    }
                }); 
                
                
                break;
        }

        
    }
    function shuffle(array) {
    let currentIndex = array.length,  randomIndex;

    // While there remain elements to shuffle.
    while (currentIndex != 0) {

        // Pick a remaining element.
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
        array[randomIndex], array[currentIndex]];
    }

    return array;
    }
    Date.prototype.addHours = function(h) {
        this.setTime(this.getTime() + (h*60*60*1000));
        return this;
    }
    Date.prototype.addMinutes = function(m) {
        this.setTime(this.getTime() + (m*60*1000));
        return this;
    }
    Date.prototype.addSeconds = function(s) {
        this.setTime(this.getTime() + (s*1000));
        return this;
    }

    
    
    
    function startExam(){
    
     var  countDownDate = new Date().addHours({{activity.timer.hours}}).addMinutes({{activity.timer.minutes}}).addSeconds({{activity.timer.seconds}}).getTime();
    var x = setInterval(function() {

    var now = new Date().getTime();
    var distance = countDownDate - now;
    console.log(distance,countDownDate,now);

    
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);


    document.getElementById("demo").innerHTML = hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        submitAnswer([],{{activity.id}},'{{userID}}','{{activity.ProgramClass}}','{{activity.Course}}','{{activity.activitytype}}');
    }
    }, 1000);
        generateElement(temp[currentIndex]);
        $('#startbutton')[0].hidden = true;
        $('#examarea')[0].hidden = false;
        console.log($('#examarea'));
    }
    function next(){
        if(currentIndex!=temp.length-1){
            currentIndex +=1;
            $("#quescont").empty();
            generateElement(temp[currentIndex]);
               
        }
        if(currentIndex==temp.length-1){
            $('#subbtn')[0].hidden = false;
        }
         
        
        
        
    }
   
    function prev(){
        $('#subbtn')[0].hidden = true;
        if(currentIndex!=0){
            currentIndex -=1;
            $("#quescont").empty();
            generateElement(temp[currentIndex]);
        }
    }
        
        
    {% endif %}
    
   
   $(window).on('beforeunload', function(){
    
    return "Good Bye";
    });
    
    </script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/submitactivities.js"></script>

</main>
     
{% endblock %}