{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
<div class="main-content">
<h3>{{activity.tasktype}}</h3>
            
            <div class="main-content-wrapper">
                <div class="activity-container">

                    <div class="activity-content">

                        <h2 class="activity-title">{{activity.activityname}}</h2>
                        
                        The form has been submitted
                       
                        {% if submissioncount != 0 %}
                        <a href={{path('retake',{id:activity.id,activityid:activity.id,})}} class="btn btn-primary btn-submit-comment">Re Submit</a>
                        {% else %}
                            <label>Already reached the max attempts</label>
                        {% endif %}
                        
                    </div>
                    <div class="activity-info">
                        <h5>{{activity.tasktype}}</h5>
                        <ul>
                            <li><i class='bx bx-paperclip'></i>Type: <span>{{activity.activitytype}}</span></li>

                            <li><i class='bx bxs-note'></i>{{allSubmission is not empty ? "Score:" : "Max Score"}} 
                            
                            {% if allSubmission is not empty  %}
                                <span>{{allSubmission.score}}/{{activity.maxscore }}</span>
                            {% else %}
                                <span>{{activity.maxscore }}</span>
                            {% endif %}
                            </li>
                            <li><i class='bx bxs-time'></i>Due: <span>{{activity.activitydeadline|date('d-m-Y h:m:s')}}</span></li>
                            <li><i class='bx bxs-time'></i>Status: <span>{{activity.activitydeadline > date() ? "Active":"Inactive"}}</span></li>
                        </ul>
                    </div>
                    <div class="activity-submission">
                        <h5>Submission</h5>
                        <ul>
                            
                            <li>Submitted: <span>{{allSubmission is not empty ? allSubmission.timestamp|date('d-m-Y h:m:s'):""}}</span></li>
                            <li>Submission: <span></span></li>
                            <li>Max attemps: <span>{{submissioncount}}</span></li>
                            
                            </li>
                        </ul>
                    </div>
                   

                </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/script.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/submitactivities.js"></script>
    <script src="{{ app.request.schemeAndHttpHost }}/assets/js/getFile.js"></script>

</main>
     
{% endblock %}